@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in-down {
    animation: fadeInDown 0.5s ease-out;
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate(-50%, -20px);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}
